<footer class="footer container">
    <div class="logo">
        <img src="/assets/Logo.svg" alt="YelpCamp logo">
        <a href="/" class="logo-text">YelpCamp</a>
    </div>
    <p class="fs-400 fw-500 text-neutral">Created by <a class="accent-link" target="_blank"
            href="https://github.com/vasyaqwe">vasyaqwe</a></p>
</footer>