<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="shortcut icon" href="../assets/Logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="bg-neutral home">
    <main class="grid home-grid">
        <header class="home-header secondary-header container">
            <div class="logo">
                <img src="/assets/Logo.svg" alt="YelpCamp logo">
                <p class="logo-text">YelpCamp</p>
            </div>
        </header>
        <div class="grid-content mt-mobile home-grid-content container flow" style="--flow-space: 1.25rem;">
            <h1 class="title home-title fs-900 fw-700">Explore the best camps on Earth.</h1>
            <p class="home-subtitle text-neutral fs-400">YelpCamp is a curated list of the best camping spots on
                Earth. Unfiltered and unbiased reviews.</p>
            <ul class="check-list text-neutral fs-400">
                <li><img src="/assets/Checkmark.svg" alt="checkmark">Add your own camp suggestions.</li>
                <li><img src="/assets/Checkmark.svg" alt="checkmark">Leave reviews and experiences.</li>
                <li><img src="/assets/Checkmark.svg" alt="checkmark">See locations for all camps.</li>
            </ul>
            <a href="/campgrounds/page/1" class="btn btn-black fs-500">View Campgrounds</a>
            <div class="partners-section">
                <h2 class="partners-title text-neutral fs-400">Partnered with:</h2>
                <ul class="partners-list">
                    <li><img src="/assets/Airbnb.svg" alt="airbnb logo"></li>
                    <li><img src="/assets/Booking.svg" alt="booking.com logo"></li>
                    <li><img src="/assets/Plum Guide.svg" alt="plum guide logo"></li>
                </ul>
            </div>
        </div>
        <div class="grid-smaller-col img-col home-grid-img">
            <picture>
                <source srcset="/assets/home.jpg" media="(min-width: 70em)">
                <img src="/assets/home-mobile.jpg" alt="">
            </picture>
        </div>
    </main>
</body>

</html>